DNI {
    border: solid;
    background-color: aliceblue;
    height: 50%;
    width: 100%;
    position: relative;
}

Nombre,
Apellidos,
Lugardenac,
Provincia,
Pais,
Numero,
FECHACAD {
    display: block;
    border: solid;
    width: 20%;
    margin: auto;

}

Progenitores {
    border: solid;
    font-size: 15pt;
    width: 20%;
    right: 0;
    bottom: 8;
    margin: auto;
}
Foto{
display: inline-block;
border: solid;


}